.details-section {
    padding: 32px 0;
  }
.additional-info {
    margin-top: 32px;
  }


.modal-header h5{
  padding-left: 8.3rem;
  font-size: 26px;
}

.modal-footer{
    justify-content: center;
   
}




